nav {
    background-color: #e3e3e3;
    text-align: left;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    margin: 0 2rem;
}